{template 'content', 'header'}
	<div class="categorybanner"><img src="{$CATEGORYS[$catid][image]}">
		<div class="container" style="position: relative;">
			<div class="banner_wenzibg"></div>
			<div class="banner_wenzibox">
				<div class="renli_banner_title">人才招聘</div>
				<div class="renli_banner_des">{pc:block pos="rencaizhaopin"}</div>
			</div>
			
		</div>
	</div>
	<div class="container contact">
		<div class="crumbs">
			<!-- <a href="">人力资源</a> > <a href="">人才储备</a> > 内容 -->
		</div>
		<div class="contactTitle">人才招聘</div>
		<div class="renlibox">
			<div class="renli_item item1">
				<div class="title">人才理念</div>
				<div class="con">{$CATEGORYS[17][description]}</div>
				<div class="href"><a href="{$CATEGORYS[17][url]}">MORE</a></div>
			</div>
			<div class="renli_margin"></div>
			<div class="renli_item item2">
				<div class="title">人才储备</div>
				<div class="con">{$CATEGORYS[17][description]}</div>

				<div class="href"><a href="{$CATEGORYS[18][url]}">我要应聘>></a></div>
			</div>
			<div class="renli_margin"></div>
			<div class="renli_item item3">
				<div class="title">人才招聘</div>
				<div class="gang">岗位信息 > </div>
				<div class="zhaolist">
					<ul>
						{pc:content action="lists" catid="16" num="3" order="listorder ASC"}
						{loop $data $r}
						<li><a href="{$r[url]}">{$r[title]}</a></li>
						{/loop}
						{/pc}
					</ul>
				</div>
				<div class="href"><a href="{$CATEGORYS[16][url]}">MORE</a></div>
			</div>
		</div>
	</div>
{template 'content', 'footer'}
</body>
</html>