<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/default/css/style.css">
	<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/default/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/default/css/imageflow.css">
	<script type="text/javascript" src="{APP_PATH}statics/default/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id="top">
		<div class="container">
			<div class="index_search fr"><input type="text" name="index_search"></div>
			<div class="language fr"><span><a href="{siteurl(1)}">中文</a></span><span>|</span><span><a href="{siteurl(2)}">English</a></span></div>
		</div>
	</div>
	<div class="container nav">
		<div class="logo fl"><a href="{siteurl($siteid)}/"><img src="{APP_PATH}statics/default/images/logo.jpg" width="175" height="102"></a></div>
		<div class="menu fr">
			{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			<ul>
				{loop $data $n $r}
				<li {if ($n == '1')}class="first"{/if}>
					<a href="{$r[url]}">{$r[catname]}</a>
					{pc:content action="category" catid="$r[catid]" return="subcats"}

					<dl>
						{loop $subcats $sub}
						<dt><a href="{$sub[url]}">{$sub[catname]}</a></dt>
						{/loop}
					</dl>
					{/pc}
				</li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>